bs4==0.0.1
google-auth==2.20.0
gunicorn==19.7.1
Flask==2.3.2
Flask-Cors==3.0.10
psycopg2==2.9.6
PyJWT==2.7.0
jsonpickle==3.0.1
langchain==0.0.180
pypdf==3.9.0
stripe==5.4.0
sendgrid==6.10.0
openai==0.27.7
tiktoken
chromeadb>=1.0.0,<2.0.0