beautifulsoup4
chromadb
Flask
Flask_Cors
langchain
protobuf
# psycopg2==2.9.6
psycopg2-binary
pypdf
PyJWT
python-dotenv
python_dateutil
Requests
sendgrid
openai
stripe
Werkzeug
tiktoken
gunicorn
boto3
botocore
lxml
uuid
pandas
pysqlite3-binary
# google.oauth2
# requests
# bs4
# urllib.parse
# os
# time
# psycopg2
# hashlib
# flask
# flask_cors
# ask
# psycopg2
# json
# shutil
# stripe
# datetime